certifi
chardet
click
cmake
decorator
dlib
face_recognition
face_recognition_models
idna
imageio
imageio-ffmpeg
moviepy
numpy
opencv-python
Pillow
proglog
requests
tqdm
urllib3
wincertstore
